/.idea/.gitignore
/.idea/deployment.xml
/.idea/em_tls_ls.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/other.xml
/result/
/result_noise/
/result_train0/
/result_train1/
/pre/result/
/noise_test/
/noise_test1/
